@using CIPlatform.Models
@model AddMissionModel

<script src="https://cdn.jsdelivr.net/npm/virtual-select-plugin@1.0.33/dist/virtual-select.min.js"></script>
<script>
    setTimeout(alertFunc, 1000);
    function alertFunc(){
        VirtualSelect.init({
        ele: '#skillSelect'
    });
    }

    $(document).ready(function () {
        $("#goalMission").hide();
        $("#timeMission").hide();
        $("#ddlCountry").change(function () {
            ddlCity =  $('#ddlCity');
            $.ajax({
            url: '/Admin/GetCity',
            type:'POST',
            dataType:'json',
            data:{id: $(this).val()},
            success:function(d){

                ddlCity.empty();
                ddlCity.append($("<option></option>").val('').html('Select City'));
                $.each(d, function (i, city) {
                    ddlCity.append($("<option></option>").val(city.value).html(city.text));
                });
            },
            error:function(){
                alert('Error');
            }
            });
        });


        $("#ddlMissionType").change(function(){
            value = $(this).val();
            if(value == 1){
                $("#timeMission").show();
                $("#goalMission").hide();
            }
            else if(value == 2){
                $("#timeMission").hide();
                $("#goalMission").show();
            }
        });

    });

</script>

@if (Model.mission != null && Model.mission.MissionType == 2)
{
    <script>
        setTimeout(function(){ $("#goalMission").show(); }, 1000);
    </script>
}
else if (Model.mission != null)
{
    <script>
        setTimeout(function(){ $("#timeMission").show(); }, 1000);
    </script>

}

<style>
    .vscomp-toggle-button {
        align-items: center;
        background-color: #fff;
        border: 1px solid #ddd;
        cursor: pointer;
        display: flex;
        padding: 7px 30px 7px 10px;
        position: relative;
        width: 100%;
    }
</style>
<div class="modal fade" id="SubmitNewMission" tabindex="-1" aria-labelledby="SubmitNewMissionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="modalForm" method="post" action="CreateMission" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@(Model.mission == null ? "Add New" : "Edit") Mission</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input asp-for="mission.MissionId" hidden />
                        <input asp-for="mission.CreatedAt" hidden />
                        <input asp-for="mission.Status" hidden />
                        <div class="col-12 mt-3">
                            <label for="">Country</label>
                            <select class="form-select" id="ddlCountry" asp-for="mission.CountryId" required="" asp-items="@Model.countrys" aria-label="Default select example">
                                <option selected>Select Country</option>
                            </select>
                            <span asp-validation-for="mission.CountryId" class="text-danger"></span>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="">City</label>
                            <select class="form-select" id="ddlCity" asp-for="mission.CityId" required="" asp-items="@Model.citys" aria-label="Default select example">
                            </select>
                            <span asp-validation-for="mission.CityId" class="text-danger"></span>
                        </div>

                        <div class="col-12 mt-3">
                            <label asp-for="mission.Title">Mission Title</label>
                            <input type="text" name="mission.Title" required="" asp-for="mission.Title" class="form-control"
                                   placeholder="Enter Mission Title" id="">
                            <span asp-validation-for="mission.Title" class="text-danger"></span>
                        </div>
                        <div class="col-12 mt-3">
                            <label asp-for="mission.ShortDescription">Mission Sort Description</label>
                            <textarea name="mission.ShortDescription" required="" asp-for="mission.ShortDescription" class="form-control" placeholder="Enter your message"
                                      id="" cols="30" rows="4"></textarea>
                        </div>
                        <div class="col-12 mt-3">
                            <label asp-for="mission.Description">Mission Description</label>
                            <textarea name="mission.Description" required="" asp-for="mission.Description" class="form-control" placeholder="Enter your message"
                                      id="" cols="30" rows="4"></textarea>
                        </div>

                        <div class="col-12 mt-3">
                            <label asp-for="mission.MissionType">Mission Type</label>
                            <select id="ddlMissionType" asp-for="mission.MissionType" required="" class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">Time</option>
                                <option value="2">Goal</option>
                            </select>
                            <span asp-validation-for="mission.MissionType" class="text-danger"></span>

                        </div>

                        <div class="col-12 mt-3">
                            <label asp-for="mission.TotalSeat">Total seats</label>
                            <input type="number" name="mission.TotalSeat" asp-for="mission.TotalSeat" class="form-control"
                                   placeholder="Enter total seats" id="">
                        </div>

                        <div class="col-12 mt-3">
                            <label asp-for="mission.OrganizationName">Mission Organisation Name</label>
                            <input type="text" name="mission.OrganizationName" asp-for="mission.OrganizationName" class="form-control"
                                   placeholder="Enter mission organisation name" id="">
                        </div>
                        <div class="col-12 mt-3">
                            <label asp-for="mission.OrganizationDetail">Mission Organisation Detail</label>
                            <textarea name="mission.OrganizationDetail" asp-for="mission.OrganizationDetail" class="form-control" placeholder="Enter your message"
                                      id="" cols="30" rows="4"></textarea>
                        </div>


                        <span id="timeMission">
                            <div class="col-12 mt-3">
                                <label asp-for="mission.StartDate">Start Date</label>
                                <input type="date" name="mission.StartDate" asp-for="mission.StartDate" class="form-control"
                                       placeholder="Select start date" id="">
                            </div>
                            <div class="col-12 mt-3">
                                <label asp-for="mission.EndDate">End Date</label>
                                <input type="date" name="mission.EndDate" asp-for="mission.EndDate" class="form-control"
                                       placeholder="Select end date" id="">
                            </div>
                            <div class="col-12 mt-3">
                                <label asp-for="mission.Deadline">Mission registration deadline</label>
                                <input type="date" name="mission.Deadline" asp-for="mission.Deadline" class="form-control"
                                       placeholder="Enter mission registration deadline" id="">
                            </div>
                        </span>

                        <span id="goalMission">
                            <div class="col-12 mt-3">
                                <label asp-for="goalMission.GoalValue">Goal Value</label>
                                <input type="number" name="goalMission.GoalValue" asp-for="goalMission.GoalValue" class="form-control"
                                       placeholder="Enter Goal Value" id="">
                            </div>
                            <div class="col-12 mt-3">
                                <label asp-for="goalMission.GoalObjectiveText">Goal Objective</label>
                                <input type="text" name="goalMission.GoalObjectiveText" asp-for="goalMission.GoalObjectiveText" class="form-control"
                                       placeholder="Enter Mission Title" id="">
                            </div>
                        </span>
                        <div class="col-12 mt-3">
                            <label asp-for="mission.ThemeId">Mission Theme</label>
                            <select class="form-select" asp-for="mission.ThemeId" required="" asp-items="@Model.themes" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                            </select>
                            <span asp-validation-for="mission.ThemeId" class="text-danger"></span>
                        </div>
                        <div class="col-12 mt-3">
                            <label asp-for="addSkill">Mission Skills</label>
                            <div>
                                <select id="skillSelect" class="rounded" required="" asp-for="addSkill" multiple asp-items="@Model.skills"
                                        placeholder="Select Skills"
                                        data-search="true" data-silent-initial-value-set="true">
                                </select>
                            </div>
                            <span asp-validation-for="addSkill" class="text-danger"></span>
                        </div>
                        <div class="col-12 mt-3">
                            <label>Mission Images</label>
                            <div class="form-group files uploadImg">
                                <input type="file" multiple name="imgsFiles" id="">
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="">Mission Documents</label>
                            <div class="form-group files uploadDoc">
                                <input type="file" multiple name="docFiles" id="">
                            </div>
                            <label class="fs-6">Allowed file types: PDF, Doc</label>
                        </div>
                        <div class="col-12 mt-3 mb-5">
                            <label asp-for="mission.Availability">Mission Availability</label>
                            <select class="form-select" asp-for="mission.Availability" required="" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">daily</option>
                                <option value="2">weekly</option>
                                <option value="3">week-end</option>
                                <option value="4">monthly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary rounded-pill"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-outline-warning rounded-pill">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

