@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using CIPlatform.Models
@model AdminModel

<span class="fs-2 border-bottom border-dark border-2 pb-2 ">Story Application</span>
<hr style="margin-top: 6px;" class="mb-5">


<table id="datatable" class="table table-borderless">
    <thead class="table-light text-primary">
        <tr>
            <th>Story ID</th>
            <th>Story Title</th>
            <th>User Id</th>
            <th>User Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.stories)
        {
            <tr>
                <td>@item.StoryId</td>
                <td>@item.Title</td>
                <td>@item.UserId</td>
                <td>@item.User.FirstName &nbsp; @item.User.LastName</td>
                <td>
                    <a class="btn" asp-controller="Admin" asp-action="AcceptStoryApplication" asp-route-id=@item.StoryId><i class="bi bi-check-circle text-success"></i></a>
                    <button class="btn" onclick=" if (confirm('Are You want to delete application?')) { return location.href=' @Url.Action("DeclineStoryApplication", "Admin" ,new {id = @item.StoryId})' } ">
                        <i class="bi bi-x-circle text-danger"></i>
                    </button>
                </td>
            </tr>
        }

    </tbody>
</table>