@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using CIPlatform.Models
@model AdminModel
<span class="fs-2 border-bottom border-dark border-2 pb-2 ">User</span>
<hr style="margin-top: 6px;">

<div style="margin-bottom: 70px;">
    <span class="float-end">
        <button type="button" class="btn btn-outline-warning rounded-pill" data-toggle="ajax-modal"
                data-target="#AddAdmin" data-url="@Url.Action("CreateAdmin")">
            <i class="bi bi-plus"></i>
            <span class="text-wrap">Add Admin</span>
        </button>
        <button type="button" class="btn btn-outline-warning rounded-pill" data-toggle="ajax-modal"
                data-target="#AddUser" data-url="@Url.Action("CreateUser")">
            <i class="bi bi-plus"></i>
            <span class="text-wrap">Add User</span>
        </button>
    </span>
</div>

<div id="PlaceHolderHere"></div>


<span class="text-danger">@TempData["ErrorMes"]</span>
<table id="datatable" class="table table-borderless">
    <thead class="table-light text-primary">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Create at</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.users)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.FirstName &nbsp; @item.LastName</td>
                <td>@item.Email</td>
                <td>@item.CreatedAt</td>
                <td class="text-success fw-bold">
                    <button class="btn @(@item.Status==1 ?"text-success":"text-danger") fw-bold" onclick=" if (confirm('Are you sure?')) { return location.href=' @Url.Action("ChangeUserStatus", "Admin" ,new {id = @item.UserId})' } ">
                        @(@item.Status==1 ? "Active":"Inactive")
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="ajax-modal" data-target="#AddUser" data-url="@Url.Action($"EditUser?id={@item.UserId}")">
                        <i class="bi bi-pencil-square text-secondary"></i>
                    </button>
                </td>
                <td>
                    <button class="btn" onclick=" if (confirm('Are you sure?')) { return location.href=' @Url.Action("DeleteUser", "Admin" ,new {id = @item.UserId})' } ">
                        <i class="bi bi-trash text-danger"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
