@using CIPlatform.Models
@model LoginModel
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-lg-9" style="padding: 0px;">

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

                <div class="carousel-indicators">
                    @{
                        var isButtonFirst = true;
                    }
                    @for (var i = 0; i < Model.banner.Count(); i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i"
                            class="@(isButtonFirst ? "active": "")" aria-current="true" aria-label="Slide @i"
                            style="height: 8px;width: 8px; border-radius: 10px;border: 0;"></button>
                        <span style="display:none">@(isButtonFirst = false)</span>
                    }

                </div>

                <div class="carousel-inner">

                    @{
                        var isFirst = true; foreach (var item in Model.banner)
                        {
                            <div class="carousel-item @(isFirst ? "active": "")">

                                <img src="@Url.Content(@item.Image)"
                                 class="d-block img img-fluid CorouselImg" alt="...">
                                <span style="display:none">@(isFirst = false)</span>

                                <div class="carousel-caption d-none d-lg-block">
                                    <h3 class="CorouselTitle">@item.Title</h3>
                                    <p class="CorouselText">@item.Text</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-lg 3 col-md-12 col-sm-12 wrapper vcenter-item" style="padding: 0px;">

            <div class=" box">

                <div style="text-align: center;">
                    <h4>Forgot Password</h4>
                    <p style="font-size: 12px;">
                        Enter your email address you've using for your account below
                        and we will send you a password reset link
                    </p>
                </div>
                <form method="post">

                    <div class="form-group mt-5 mb-4">
                        <label class="label" asp-for="user.Email">Email Address</label>
                        <input type="text" class="form-control customshadow" style="display: inline;"
                               asp-for="user.Email" placeholder="Enter your email address..." required="">
                        <span asp-validation-for="user.Email" class="text-danger"></span>

                    </div>
                    <span class="text-danger">@TempData["ErrorMes"]</span>
                    <button type="submit" class="form-control rounded-pill btn btn-outline-warning">
                        Reset my
                        Password
                    </button>
                </form>

                <div style="text-align: center;">
                    <a asp-controller="Login" asp-action="Login" class="link-dark">Login</a>
                </div>

                <div style="text-align: center; padding-top: 30%;">
                    <a asp-controller="Policy" asp-action="Policy" class="link-dark">Privacy Policy</a>
                </div>

            </div>
        </div>

    </div>
</div> 